header div {
    background-image: linear-gradient(to bottom right, orange, yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}
header h2 {
    color: white;
}
